body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    margin: 15px auto;
    background-color:#E9F8F9;

}
img{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px;
}
.p1{
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 15px;
}
.p2{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
}